<html>
  <head>
  <!--scss の読み込み-->
  <%= stylesheet_link_tag "users", :media => "all" %>
  </head>
  <body>
    <div class="box11">

      <h1>ユーザーの作成</h1>
      <!-- Userを登録する。 登録が完了するとUserのBoardページに飛ぶ。 -->
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, class: "form-control mb-2 mr-sm-2" %>

        <%= f.label :email, "Eメール" %>
        <%= f.email_field :email, class: "form-control mb-2 mr-sm-2" %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control mb-2 mr-sm-2" %>

        <%= f.label :password_confirmation, "確認用パスワード" %>
        <%= f.password_field :password_confirmation, class: "form-control mb-2 mr-sm-2" %>

        <p>
        <%= f.submit "アカウント作成", class: "btn btn-primary mb-2" %>
        </p>

      <% end %>

    </div>
  </body>
</html>
