<html>
    <head>
    <!--scssを読み込む-->
    <%= stylesheet_link_tag "explain", :media => "all" %>
    </head>

    <body>
    <!--
        <%= link_to "Home画面へ", root_path %>
    -->

        <div class="NAMI_LOG">
            <h1>NAMI LOG</h1>
            <h2>サーファーのための記録アプリ</h2>
        </div>

        <!--NAMILOG のユーザにとっての価値-->
        <div class="Value_NAMILOG">
            <h1>NAMI LOGとは？</h1>
            <h2>発見したサーフポイントに対して</h2>
            <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 迷わずに行きたい</h3>
            <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 波情報を見返したい</h3>
            <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 仲間内で共有したい</h3>
            <h2>という，<br>サーファーの気持ちを叶えます。</h2>
        </div>

        <!--下に行けるよマーク(下には使い方があると示す)-->
        <span class="glyphicon glyphicon-chevron-down" id="arrow_bottom1" aria-hidden="true"  ></span>
        <span class="glyphicon glyphicon-chevron-down" id="arrow_bottom2" aria-hidden="true" ></span>
        <div class="Explain_arrow_bottom">
        <h3>使い方</h3>
        </div>



<style>/*
        <!--横線-->
        <HR align=center SIZE=2 width="100%">

        <!--説明1-->
        <div class ="explain_1">
            <!--説明1の画像-->
            <%= image_tag "explain_App/HowTo_WaveInfo.png"%>
            <br>
            <!--説明1の説明文-->
            <h3>サーフポイントのエントリー情報を記録できる</h3>
        </div>

        <!--横線-->
        <HR align=center SIZE=2 width="100%">

        <!--説明2-->
        <div class ="explain_2">
            <%= image_tag "explain_App/HowTo_Share.png"%>
            <h3>共有したいサーファーと，エントリー情報を共有できる</h3>
        </div>
        
        <!--横線-->
        <HR align=center SIZE=2 width="100%">

        <div class = "Button"><!--ボタンを中央揃えにするために-->
            <!--SignUpボタン-->
            <%= link_to "Sign up", new_user_path, class: "btn btn-info " , id:"SignUp" %>
        </div>

*/</style>

    </body>

</html>