
<h3>波情報</h3>
<!-- 波情報を出力するためのテーブル -->
<table class="table table-bordered">
  <tr>
    <th>日付</th>
    <th>サイズ</th>
    <th>風向き</th>
    <th>何ショア</th>
    <th>風速</th>
    <th>ウネリのサイズ</th>
    <th>ウネリの向き</th>
    <th>ブレイクの種類</th>
    <th>コメント</th>
  </tr>

  <% @wave.each do |wave| %>
    <tr>
      <td><%= wave.created_at %></td>
      <td><%= wave.status %></td>
      <td><%= wave.windway %></td>
      <td><%= wave.shore %></td>
      <td><%= wave.windpower %></td>
      <td><%= wave.swell %></td>
      <td><%= wave.swellway %></td>
      <td><%= wave.bottom %></td>
      <td><%= wave.comment %></td>
    </tr>
  <% end %>
</table>

<h3>サーフポイントの雰囲気</h3>
<!-- サーフポイントの雰囲気を出力するためのテーブル -->
<table class="table table-bordered">
  <% if @mood.present? %>　　<!-- undefin method　'mood' nil:NillClassエラーを解消するため。nilであった場合に実行しないようにする。-->
    <tr>
      <td><%= @mood.mood%></td>
    </tr>
  <% end %>
</table>

<h3>エントリーの仕方</h3>
<!-- エントリを出力するためのテーブル -->
<table class="table table-bordered">
  <% @manner.each do |manner| %>
    <tr>
      <td><%= manner.entry %></td>
      <td>
        <% @photo.where(manner_id: manner.id).each do |d| %>
          <%= image_tag d.image.url if d.image? %>
        <% end %>
        <%= form_for Photo.new(:manner_id => manner.id), :url => photo_create_path do |f| %>
          <%= f.file_field :image %>
          <%= f.hidden_field :manner_id %>
          <%= f.submit "写真を投稿する!", class: "btn btn-primary mb-2" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
