<div class="container-fluid"> <!--Bootstrapのグリッドシステムの対象範囲-->
  <div class="box11">
    <h1><%= @board.location %></h1>


    <!--ここから下18:00分-->
    <div class="des_latitude" hidden><%= @board.latitude.to_s%></div>
    <div class="des_longitude" hidden><%= @board.longitude.to_s%></div>
    <div class = "link"></div>
    <!--ここから上18:00分-->

    <h3>波情報<%= link_to "入力", wave_form_path(@board.id), class: "btn btn-info", style: "margin-left: 144px" %></h3>
    <!-- 波情報を出力するためのテーブル -->
    <% @wave.reverse_each do |wave| %>
      <table class="table table-striped">
        <caption align="left"><h3><%= wave.created_at.strftime("%Y年%-m月%-d日") %><%= link_to "削除", wave, method: :delete, class: "btn btn-danger mb-2 btn-sm", style: "margin-left: 70px;", data: {confirm: "本当に削除しますか？"}%></h3></caption>
        <tbody>
          <tr>
            <th>サイズ</th>
            <td><%= wave.status %></td>
          </tr>
          <tr>
            <th>風向き</th>
            <td><%= wave.windway %></td>
          </tr>
          <tr>
            <th>何ショア</th>
            <td><%= wave.shore %></td>
          </tr>
          <tr>
            <th>風速</th>
            <td><%= wave.windpower %></td>
          </tr>
          <tr>
            <th>うねりのサイズ</th>
            <td><%= wave.swell %></td>
          </tr>
          <tr>
            <th>うねりの向き</th>
            <td><%= wave.swellway %></td>
          </tr>
          <tr>
            <th>ブレイクの種類</th>
            <td><%= wave.bottom %></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td colspan="7"><%= wave.comment %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <%= paginate @wave %>

    <h3>サーフポイントの雰囲気<%= link_to "入力", mood_form_path(@board.id), class: "btn btn-info", style: "margin-left: 10px;" %></h3>
    <!-- サーフポイントの雰囲気を出力するためのテーブル -->
    <table class="table table-striped">
      <% if @mood.present? %>　　<!-- undefin method　'mood' nil:NillClassエラーを解消するため。nilであった場合に実行しないようにする。-->
        <tr>
          <td><%= @mood.mood%></td>
          <td align="right" width="20"><%= link_to "削除", @mood, method: :delete, class: "btn btn-danger mb-2 btn-sm", data: {confirm: "本当に削除しますか？"}%></td>
        </tr>
      <% end %>
    </table>

    <h3>エントリーの仕方<%= link_to "入力", entry_form_path(@board.id), class: "btn btn-info", style: "margin-left: 60px;" %></h3>
    <!-- エントリを出力するためのテーブル -->
    <table class="table table-striped">
      <% @manner.reverse_each do |manner| %>
        <tr>
          <td><%= manner.entry %></td>
          <td align="right" width="20"><%= link_to "削除", manner, method: :delete, class: "btn btn-danger mb-2 btn-sm", data: {confirm: "本当に削除しますか？"}%></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= link_to "ポイントリストへ戻る", board_path ,data: {"turbolinks" => false}%>
    </p>
  </div>
</div><!--Bootstrapのグリッドシステムの対象範囲-->
